* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    width: 70%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #d32f2f;
    color: #fff;
}

.navbar .logo {
    max-height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
}

.navbar ul li {
    margin-left: 15px;
}

.navbar ul li:first-child {
    margin-left: 0;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
}

.category-section {
    margin-bottom: 40px;
}

.category-section h2 {
    background-color: #d32f2f;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.article-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    width: calc(33.333% - 10px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.article-card img {
    width: 100%;
    max-height: 170px;
    flex: 1;
}

.article-card h3 {
    padding: 10px;
    font-size: 1.1em;
    text-align: center;
}

.category-section {
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    height: 200px;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

@media (max-width: 1024px) {
    .card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        float: none;
        margin-right: 0;
    }
}

.article-details {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 20px;
    padding: 20px;
}

.article-details img {
    width: 100%;
    height: auto;
}

.article-details h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.article-details p {
    color: #666;
    margin-bottom: 10px;
}

.article-details .article-content {
    line-height: 1.8;
}

.article-form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    margin-top: 20px;
    max-width: 600px;
    margin: 20px auto;
}

.article-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.article-form input[type="text"],
.article-form textarea,
.article-form select,
.article-form input[type="url"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    font-size: 16px;
}

.article-form textarea {
    resize: vertical;
}

.article-form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>'); /* Dodavanje custom strelice za dropdown */
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: 50%;
    padding-right: 30px;
}

.article-form button {
    background-color: #d32f2f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.article-form button:hover {
    background-color: #b71c1c;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.form-group input[type="submit"] {
    background-color: #d32f2f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

.form-group input[type="submit"]:hover {
    background-color: #b71c1c;
}
